<div>
    <h1>Login</h1>
    <form id="loginForm">

        <label>Email</label>
        <input name="email">
        <br />
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" value="LogIn">
    </form>
    <p> Estas registrado ? <a href="/api/views/register">Registrate aqui </a></p>
    
    <p>¿Olvidaste tu contraseña? <a href="/api/views/restore">Restáurala aquí</a></p>

    <p>¿Tienes usuario de GitHub? <a href="/api/session/github">Ingresa por aquí!</a></p>

    </div>
    <script src="/js/login.js"></script>