<div>
    <h1>Registro</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name">
        <br />
        <label>Apellido</label>
        <input name="last_name">
        <br />
        <label>Email</label>
        <input name="email">
        <br />

        <label>Edad</label>
        <input name="age">
        <br />
        <label>Password</label>
        <input type="password" name="password">
        <br />
        <input type="submit">
        <label for="role">Elegir Role:</label>
    <select id="role" name="role" type="role">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
        <option value="PREMIUM">PREMIUM</option>
    </select>
    </form>
</div>

<script src="/js/register.js"></script>