<div>
    <h1>Restaurar contraseña</h1>
    <form id="loginForm">

        <label>Email</label>
        <input name="email">
        <br />
        <label>New Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    {{!-- <p> Estas registrado ? <a href="/api/views/register">Registrate aqui </a>
    <a href="/api/views/restorePassword">Restaurar contraseña </a> --}}
    </div>

<script src="/js/restore.js"></script>