<div>
    <h1>Ingrese su correo para restaurar su contraseña</h1>
    <form id="loginForm">

        <label>Email</label>
        <input name="email">
        <br />
        <input type="submit">
    </form>
    {{!-- <p> Estas registrado ? <a href="/api/views/register">Registrate aqui </a>
    <a href="/api/views/restorePassword">Restaurar contraseña </a> --}}
    </div>

<script src="/js/sendrestore.js"></script>